<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">Libreria Nacional</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link " href="#">Mi Perfil </a>
    </li>
  </ul>
  <a class="navbar-item" href="#">Mi Perfil</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
